<!doctype html>
<html lang="zh-tw">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Out Come</title>
    <style type="text/css">
        *{
            margin: auto;
            padding: inherit;
            list-style: none;
        }
        .form{
            width: auto;
            height: auto;
            font-size-adjust: auto;
            display: flex;
        }
        table {
            border: 0;
            border-collapse: collapse;
            border-radius: 8px;
            width: 90%;
        } 
        
    </style>
</head>

<body>
    <div align="center">
        <form action="/response" method="post" name="Form" id="Form" onsubmit="event.preventDefault();inputCheck()">
            <h1>Out Come表單</h1>
            
            <table>
            <p align="center">
                姓名: <input type="text" style="width:80px;" name="user" required="required">
                年齡: <input type="number" style="width:60px;" name="age" required="required" ><br>
                工作內容（如：學生、保險業務員⋯⋯）: <input type="text" style="width:80px;" name="career" required="required"> <br>
                Email: <input type="text" style="width:328px;" name="email" required="required">
                <br>
                <br>
            </p>
            </table>
            
            
            <h2>範例</h2>
            <table border="1">
                <tr>
                    <th>優先排序(1~12)</th>
                    <th> </th>
                    <th>現況滿意度</th>
                </tr>
                <tr>
                    <!--敘述-->
                    <td>
                        <select name="SortExample" required="required" type="number">
                            <option>請填入1~12，不可重複。1代表最想要</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </td>
                    <td>敘述</td>
                    <td>
                        <select name="answerExample" required="required" type="number">
                            <option>請填入1~5分</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
            </table>
            <br>
            
            <h2>說明</h2>
            <table border="1">
                <td>此表單之左側欄請填入1~12，1代表最急迫想要擁有，12代表最不急迫想要擁有</td>
                <td>
                    右側欄代表各項所得的分數，1代表評分最低最不滿意的現況，5代表非常滿意的現況，排序的左側欄若排序為1~6，現況評分僅能填入1~3，排序的左側欄若排序為7~12，現況評分僅能填入3~5。
                </td>
            </table>
            
            
            
            <br>
            <table border="1">
                <tr>
                    <th>優先排序(1~12)</th>
                    <th> </th>
                    <th>現況滿意度</th>
                </tr>
                <tr>
                    <!--獨立性-->
                    <td>
                        <select name="SortIndependence" required="required" type="number">
                            <option>填入1~12</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </td>
                    <td>獨立性/自由做你自己想做的事; 能擺脫他人影響</td>
                    <td>
                        <select name="answerIndependence" required="required" type="number">
                            <option>填入1~5分</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <!--認同感-->
                    <td>
                        <select name="sortIdentity" required="required" type="number">
                            <option>填入1~12</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </td>
                    <td>認同感/成就被肯定，表現有獎勵。</td>
                    <td>
                        <select name="answerIdentity" required="required" type="number">
                            <option>填入1~5分</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <!--成就感-->
                    <td>
                        <select name="sortAchievement" required="required" type="number">
                            <option>填入1~12</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </td>
                    <td> 成就感/成功完成工作，克服障礙，達成目標。</td>
                    <td>
                        <select name="answerAchievement" required="required" type="number">
                            <option>填入1~5分</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <!--休閒時間-->
                    <td>
                        <select name="sortFreeTime" required="required" type="number">
                            <option>填入1~12</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </td>
                    <td> 休閒時間/從事工作以外你喜歡的休閒活動。</td>
                    <td>
                        <select name="answerFreeTime" required="required" type="number">
                            <option>填入1~5分</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <!--權力-->
                    <td>
                        <select name="sortPower" required="required" type="number">
                            <option>填入1~12</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </td>
                    <td> 權力/控制別人; 影響、主控。</td>
                    <td>
                        <select name="answerPower" required="required" type="number">
                            <option>填入1~5分</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <!--聲望-->
                    <td>
                        <select name="sortReputation" required="required" type="number">
                            <option>填入1~12</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </td>
                    <td> 聲望/名聲、排行、受尊敬。</td>
                    <td>
                        <select name="answerReputation" required="required" type="number">
                            <option>填入1~5分</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <!--金錢-->
                    <td>
                        <select name="sortMoney" required="required" type="number">
                            <option>填入1~12</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </td>
                    <td> 金錢/個人所得的累積，五字登科的能力。</td>
                    <td>
                        <select name="answerMoney" required="required" type="number">
                            <option>填入1~5分</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <!--推動力-->
                    <td>
                        <select name="sortExormisis" required="required" type="number">
                            <option>填入1~12</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </td>
                    <td> 推動力/要想一直改進工作表現的感覺或需要。</td>
                    <td>
                        <select name="answerExormisis" required="required" type="number">
                            <option>填入1~5分</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <!--自尊-->
                    <td>
                        <select name="sortSelfEsteem" required="required" type="number">
                            <option>填入1~12</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </td>
                    <td> 自尊/你覺得自己有價值的一種感覺，自主性強。</td>
                    <td>
                        <select name="answerSelfEsteem" required="required" type="number">
                            <option>填入1~5分</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <!--家庭生活-->
                    <td>
                        <select name="sortFamily" required="required" type="number">
                            <option>填入1~12</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </td>
                    <td> 家庭生活/偏好家庭為中心的活動與興趣。</td>
                    <td>
                        <select name="answerFamily" required="required" type="number">
                            <option>填入1~5分</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <!--安全感-->
                    <td>
                        <select name="sortSafety" required="required" type="number">
                            <option>填入1~12</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </td>
                    <td> 安全感/關切工作的安全與穩定、安定。</td>
                    <td>
                        <select name="answerSafety" required="required" type="number">
                            <option>填入1~5分</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <!--個人成長-->
                    <td>
                        <select name="sortGrowth" required="required" type="number">
                            <option>填入1~12</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </td>
                    <td> 個人成長/能力及效率的發展，變成一個比較優秀的人。</td>
                    <td>
                        <select name="answerGrowth" required="required" type="number">
                            <option>填入1~5分</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
            </table>
            <br>
            <p><input type="submit" value="確認"></p>
        </form>
    </div>
    <p>
        <a href = "/loginpage" target = "_blank">擁有者登入</a>
    </p>

</body>
<script>
    function inputCheck() {
        let inputArr = [
        document.forms["Form"]["sortIndependence"].value,
        document.forms["Form"]["sortIdentity"].value,
        document.forms["Form"]["sortAchievement"].value,
        document.forms["Form"]["sortFreeTime"].value,
        document.forms["Form"]["sortPower"].value,
        document.forms["Form"]["sortReputation"].value,
        document.forms["Form"]["sortMoney"].value,
        document.forms["Form"]["sortExormisis"].value,
        document.forms["Form"]["sortSelfEsteem"].value,
        document.forms["Form"]["sortFamily"].value,
        document.forms["Form"]["sortSafety"].value,
        document.forms["Form"]["sortGrowth"].value
        ];
        for(let i=0; i<inputArr.length; i++){
            for(let j=0; j<inputArr.length; j++){
                if(i!=j){
                    if(inputArr[i] == inputArr[j]){
                        alert("優先度請勿重複!!");
                        returnToPreviousPage();
                        return false;
                    }
                }
            }
        }
        Form.submit();
        return true;
    }



</script>

</html>
